services:
  - type: web
    name: learning-management-system
    runtime: python
    pythonVersion: "3.12.3"
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn -c gunicorn.conf.py wsgi:app
    plan: free
    env:
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: learning-management-db
          property: connectionString
      - key: DEEPINFRA_API_KEY
        value: JJT2oAUiJNKaEzkGAcP0PpzZ1hBoExqz
      - key: MAIL_USERNAME
        value: worldvlog13@gmail.com
      - key: MAIL_PASSWORD
        value: mfrp osrt pwki lmmx
      - key: MAIL_DEFAULT_SENDER
        value: worldvlog13@gmail.com
      - key: CLOUDINARY_CLOUD_NAME
        value: YOUR_CLOUD_NAME_HERE
      - key: CLOUDINARY_API_KEY
        value: "162763126833456"
      - key: CLOUDINARY_API_SECRET
        value: ut7XCubjCtYdU1rjcRQ8BGk5u7g
    
databases:
  - name: learning-management-db
    plan: free