yaml

services:
  - type: web
    name: learning-management-system
    runtime: python3
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:application
    plan: free
    env:
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: learning-management-db
          property: connectionString
      - key: DEEPINFRA_API_KEY
        value: JJT2oAUiJNKaEzkGAcP0PpzZ1hBoExqz
      - key: MAIL_USERNAME
        value: worldvlog13@gmail.com
      - key: MAIL_PASSWORD
        value: mfrp osrt pwki lmmx
      - key: MAIL_DEFAULT_SENDER
        value: worldvlog13@gmail.com
    
databases:
  - name: learning-management-db
    plan: free